.week-header {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
    font-weight: bold;
}

.day-of-week {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
}

.date {
    font-family: 'Hoefler Text', Times New Roman, Times, serif;
    font-style: italic;
}

.holiday {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
    float: right;
}

.emoji {
    /* Symbola font available at http://users.teilar.gr/~g1951d/ */
    /* Style taken from emojibase.com */
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols", "Symbola";
}

.day-header {
    -webkit-margin-before: 0;
    margin-top: .2em;
    margin-bottom: 0em;
}

.day {
    width: 100%;
    position: relative;
    border-bottom: 2px solid navy;
}

/* Extra line at tops of pages */
div[data-week-day="MONDAY"], div[data-week-day="THURSDAY"] {
    border-top: 2px solid navy;
}

.weekday {
    height: 144pt;
}

.weekend {
    height: 72pt;
}
/* Lines for writing on*/
.entry-lines {
    /* Fill available space below header */
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:20px; /* A little more than line height */
    left:0;
    right:0;

    background-image: url('../images/Line.png');
        /* Doesn't work in Chrome printing */
        /*linear-gradient(#000 .1em, transparent .1em);*/
        /* So Webkit user can't turn off the lines*/
        /*-webkit-print-color-adjust:exact;*/
    box-sizing: border-box;
}

/* Adjust background size so that there are 10 even lines */
.weekday .entry-lines {
    background-size: 100% 12pt;
    background-position: 0% 8%;
}

/* Should have 4 even lines*/
.weekend .entry-lines {
    background-size: 100% 12pt;
    background-position: 0% 20%;
}

.goal-star {
    height: 10pt;
    float: right;
    /* Add some white padding on the left */
    background-color: white;
    padding-left: 1pt;
}

@media print {
    .week-header {
        font-size: x-small;
        font-weight: bold;
    }
    .day-header {
        font-size: x-small;
        font-weight: normal;
    }
    .holiday {
        font-size: 4.5pt; /*xxx-small doesn't exist*/
    }

    /* Thursday is the top of the right page, which has no header, so add
     * space to make it match the left page.
     */
    div[data-week-day="THURSDAY"] {
        margin-top: 2em;
    }
}

