/* Reduce top padding */
.notes-page {
    padding-top: 8pt;
}

.notes-header {
    font-family: 'Hoefler Text', Times New Roman, Times, serif;
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;
    font-size: 13.5pt;
}
.left-page .notes-header {
    text-align: left;
}
.right-page .notes-header {
    text-align: right;
}

.graph-notes {
    background: url('../images/Graph.png');
    background-size: 12pt;
}

.blank-notes {
    background-color: white;
    background-size: 100%;
}

.line-notes {
    background: url('../images/Line.png');
    background-size: 100% 1em;
}

.notes {
    /* Fill available space below header */
    position: relative;
    /* For whatever reason, 100% respects side page padding
     * but not vertical. So just subtract page padding here.*/
    height: calc(100% - 32pt);
    width:100%;
    margin: 0pt;
}
