/* Reduce top padding */
.notes-page {
    padding-top: 8pt;
}

.notes-header {
    font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
    font-weight: normal;
    margin-top: 0px;
    font-size: 13.5pt;
}

/* Headers need space to be clear of the corner crop mark */
.left-page .notes-header {
    text-align: left;
    left: 30px;
    position: relative;
}
.right-page .notes-header {
    text-align: right;
    right: 30px;
    position: relative;
}

.graph-notes {
    background: url('../images/Graph.png');
    background-size: 12pt;
}

.blank-notes/*, .plan-notes*/ {
    background-color: white;
    background-size: 100%;
}

/*.plan-notes {
    border: 1pt solid black;
}*/

.line-notes {
    background: url('../images/Line.png');
    background-size: 100% 1em;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:20px; /* A little more than line height */
    left:0;
    right:0;
}

.notes {
    /* Fill available space below header */
    position: relative;
    /* For whatever reason, 100% respects side page padding
     * but not vertical. So just subtract page padding here.*/
    height: calc(100% - 32pt);
    width:100%;
    margin: 0pt;
}
