/* Line the edge of the header up with the numbers table */
.left-page .numbers-header {
    text-align: left;
    margin-left: 22pt;
}
.right-page .numbers-header {
    text-align: right;
    margin-right: 22pt;
}
.numbers-header {
    font-family: Times New Roman, Times, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 13.5pt;
    margin-top: 0px;
}
.numbers-page {
    padding-top: 8pt;
}

.letters {
    font-family: Times New Roman, Times, serif;
    font-style: italic;
    font-weight: normal;
    width: 10pt;

}

.letters h3 {
    margin-top: 6pt;
    margin-bottom: 6pt;
}

.left-page .letters {
    float: left;
    margin-left: 6pt;
    margin-right: 12pt;
}
.right-page .letters {
    float: right;
    margin-right: 6pt;
}

/* Not sure why, but if we don't use a container then when printed to a PDF
the lines overflow the page. This does not occur in emulation mode. Behavior
is the same on both Chrome and Firefox. */
.numbers-container {
    /*width: 100%;*/
    overflow: hidden;
    height: calc(100% - 30pt);
}

/* Div container for the numbers table*/
.numbers {
    width:100%;
}

.left-page .numbers {
    margin-left: 12pt;
}

/* Split table with middle line*/
.numbers table {
    border-collapse: collapse;
    empty-cells: show;
    width: 290pt;
    border-bottom: 1px solid black;
}
.numbers-table-header th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

.numbers-table-header th, tr {
    border-bottom: 1px solid black;
    font-size: 8pt;
}

.name-cell {
    border-right: 1px solid black;
}
