/* Native CSS page layout doesn't work so great yet, so this is a custom one.
 * A div of the "page" class will ocupy one printed page with no margin or
 * padding. Page margins are set to 0.
 */
@page {
    size:5in 7.5in;
    margin: 0pt;
}

body {
    margin: 0pt;
}

.page {
    /*margin: 0pt;*/
    width: 100%;
    height: 100vh;
}

@media print {
    .page {
        height: 7.5in; /* 740 pt */
        width: 5in;    /* 360 pt */
        /* Actual planner seems to be 45 (5/8in) on top and bottom,
         * but that somehow seemed like too much.
         */
        padding-top: 42pt;
        padding-bottom:32pt;
        page-break-after: always;
        position: relative;
        /* Account for padding in size calculations. */
        box-sizing: border-box;

        /* Crop marks for cutting pages (not a chance you're printing on actual 7.5" x 5" paper!) */
        border: 1px dotted #E8E8E8;
        border-style: dotted;
    }

    /* Manual margins for left and right pages */
    .page.left-page {
        padding-left: 10pt;
        padding-right: 32pt;
    }

    .page.right-page {
        padding-left: 32pt;
        padding-right: 10pt;
    }

    /* Dotted lines in corner to indicate that it should be cut/ripped off. */
    .corner {
        width: 50px;
        position: absolute;
        top: 16px;
        border: 1px dotted #E8E8E8;
        border-style: none none dotted;
    }

    .right-page .corner {
        right: -8px;
        left: auto;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .left-page .corner {
        left: -8px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}
